.event-details {
    width: 100%;
    position: relative;
    .event-details-title {
        font-size: .586667rem /* 22/37.5 */;
        font-family:PingFang SC;
        font-weight:500;
        color:rgba(33,33,33,1);
        line-height: .8rem /* 30/37.5 */;
        text-overflow: -o-ellipsis-lastline;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .event-details-propaganda {
        width: 100%;
        //height: 4.266667rem /* 160/37.5 */;
        margin-top: .466667rem /* 17.5/37.5 */;
        border-radius: .133333rem /* 5/37.5 */;
        overflow: hidden;
        img, video {
            width: 100%;
            height: auto;
            display: inline-block;
        }
    }
    .event-details-content {
        margin-top: .36rem /* 13.5/37.5 */;
        font-size: .373333rem /* 14/37.5 */;
        font-family: PingFang SC;
        font-weight:400;
        color:rgba(33,33,33,1);
        line-height: .64rem /* 24/37.5 */;
        word-break: break-all;
        height: 1.6rem /* 60/37.5 */;
    }
    .event-details-more-show {
        width: 100%;
        background: white;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-weight: 600;
        cursor: pointer;
        svg {
            width: .533333rem /* 20/37.5 */;
            height: .533333rem /* 20/37.5 */;
            font-weight: 600;
            // position: relative;
            // top: .053333rem /* 2/37.5 */;
        }

        .event-details-more-show-btn {
          width: 9.2rem /* 345/37.5 */;
          height: 1.306667rem /* 49/37.5 */;
          background:linear-gradient(90deg,rgba(255,167,128,1) 0%,rgba(255,60,97,1) 100%);
          border-radius: .653333rem /* 24.5/37.5 */;
          font-family:PingFang SC;
          font-weight:500;
          color:rgba(255,255,255,1);
          font-size: .48rem /* 18/37.5 */;
          margin-top: .533333rem /* 20/37.5 */;
          // margin-left: .4rem /* 15/37.5 */;
        }
    }
}
.event-details-page {
    width: 100%;
    height: 100%;
    padding-top: 1.466667rem /* 55/37.5 */;
    padding-left: .4rem /* 15/37.5 */;
    padding-right: .4rem /* 15/37.5 */;
    background: white;
}