.submit-orders-page {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: #EEE;
    .submit-orders-page-select-address {
        height: 2.133333rem /* 80/37.5 */;
        margin: .266667rem /* 10/37.5 */;
        border-radius: .266667rem /* 10/37.5 */;
        background: #fff;
        display: flex;
        font-size: .373333rem /* 14/37.5 */;
        align-items: center;
        padding: 0 .533333rem /* 20/37.5 */;
        box-sizing: border-box;
        position: relative;
        margin-top: 1.466667rem /* 55/37.5 */;
        svg {
            width: .533333rem /* 20/37.5 */;
            height: .533333rem /* 20/37.5 */;
        }
        span {
            flex: 1;
            margin-left: 10px;
        }
        .submit-orders-page-select-address-info {
            p {
                font-family:PingFang SC;
                font-weight:400;
                color:rgba(34,34,34,1);
                font-size: .4rem /* 15/37.5 */;
                &:nth-child(2) {
                    margin-top: .266667rem /* 10/37.5 */;
                }
            }
        }
        .submit-orders-page-select-address-right {
            position: absolute;
            right: .266667rem /* 10/37.5 */;
        }
    }
    .submit-orders-page-goods-info {
        height: auto;
        margin: .266667rem /* 10/37.5 */;
        border-radius: .266667rem /* 10/37.5 */;
        background: #fff;
        display: flex;
        font-size: .373333rem /* 14/37.5 */;
        padding: 0 .533333rem /* 20/37.5 */;
        box-sizing: border-box;
    }
    .submit-orders-page-pay-area {
        margin: .266667rem /* 10/37.5 */;
        border-radius: .266667rem /* 10/37.5 */;
        background: #fff;
        font-size: .373333rem /* 14/37.5 */;
        // padding: 0 20px;
        box-sizing: border-box;
        overflow: hidden;
        .submit-orders-page-pay-area-wxPay,
        .submit-orders-page-pay-area-aliPay {
            display: flex;
            svg {
                width: .533333rem /* 20/37.5 */;
                height: .533333rem /* 20/37.5 */;
                margin-right: .266667rem /* 10/37.5 */;
            }
        }
    }
    .submit-orders-page-pay {
        width: 100%;
        height: 1.6rem /* 60/37.5 */;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        background-color: #fff;
        p {
            flex: 1;
            text-align: right;
            margin-right: .533333rem /* 20/37.5 */;
            span {
                margin-left: .133333rem /* 5/37.5 */;
                font-size: .48rem /* 18/37.5 */;
                font-weight: 600;
                color: #FF5E6B;
            }
        }
        button {
            width: 4rem /* 150/37.5 */;
            height: 1.066667rem /* 40/37.5 */;
            border-radius: .533333rem /* 20/37.5 */;
            color: #FFF;
            background: red;
            margin-right: .266667rem /* 10/37.5 */;
        }
    }
}

/* 商品列表 */

.prod-item {
    width: 100%;
    height: auto;
    font-size: 28px;
    padding: 10px 0;
}
  
.prod-item .order-num {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
}
  
.prod-item .item-cont {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.prod-item .order-num .clear-btn {
    width: 32px;
    height: 32px;
    font-size: 0;
    vertical-align: top;
    margin-top: 6px;
    margin-left: 42px;
    position: relative;
}

.prod-item .order-num .clear-btn::after {
    content: " ";
    display: block;
    position: absolute;
    left: -10px;
    top: 1px;
    width: 1px;
    height: 12px;
    background: #ddd;
}

.prod-item .order-num .clear-btn .clear-list-btn {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.prod-item .item-cont .prod-pic {
    font-size: 0;
    display: block;
    width: 2.133333rem /* 80/37.5 */;
    height: 2.133333rem /* 80/37.5 */;
    overflow: hidden;
    margin-right: 16px;
}

.prod-item .item-cont .prod-pic img {
    width: 100%;
    height: 100%;
}

.prod-item .item-cont .prod-info {
    margin-left: 10px;
    font-size: .373333rem /* 14/37.5 */;
    width: 100%;
    position: relative;
    height: 2.133333rem /* 80/37.5 */;
    -webkit-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
}

.prod-item .item-cont .prod-info .prodname {
    font-size: .426667rem /* 16/37.5 */;
    line-height: .48rem /* 18/37.5 */;
    max-height: 2.293333rem /* 86/37.5 */;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-break: break-all;
}

.prod-item .item-cont .prod-info .prod-info-cont {
    color: #999;
    line-height: 1.066667rem /* 40/37.5 */;
    margin-top: .266667rem /* 10/37.5 */;
    font-size: .373333rem /* 14/37.5 */;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-break: break-all;
}

.prod-item  .total-num {
    text-align: right;
    padding: 20px 30px;
    font-size: 28px;
}

.price-nums {
    width: 100%;
    height: 30px;
    line-height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    color: #333;
}

.prod-item .price-nums .prodprice {
    text-align: right;
}

.prod-item  .price-nums .prodcount {
    position: absolute;
    bottom: 20px;
    right: 0;
    color: #999;
    font-family: verdana;
}

.prod-item .total-num .prodprice {
    display: inline-block;
    color: #333;
}

.prod-item .total-num .prodcount {
    margin-right: .533333rem /* 20/37.5 */;
}
.totalPrice {
    // display: flex;
    // justify-content: space-between;
    // height: 1.066667rem /* 40/37.5 */;
    line-height: .533333rem /* 20/37.5 */;
    text-align: right;
    border-top: 1px solid #f3f3f3;
    padding-top: .266667rem /* 10/37.5 */;

    .symbol {
      color: #FF5E6B;
    }

    .big-num {
      font-size: .48rem /* 18/37.5 */;
      color: #FF5E6B;
      font-weight: bold;
    }
}
