.start-certification-container {

  .input-item-container {
    background-color: #fff;
    padding-left: .4rem /* 15/37.5 */;
    font-family: PingFangSC-Regular;
    padding-top: .533333rem /* 20/37.5 */;
    border-bottom: 1px solid #eee;

    label {
      display: block;
      font-size: .4rem /* 15/37.5 */;
      color: #222;

      span {
        color: #FF5E6B;
        font-size: .4rem /* 15/37.5 */;
      }
    }


    .am-list-item.am-input-item {
      height: 1.333333rem /* 50/37.5 */;
      padding: 0;
    }

    .am-list-item {
      min-height: 1.333333rem /* 50/37.5 */;
    }

    input {
      font-size: .4rem /* 15/37.5 */;
      color: #aaa;
    }
  }

  .tag-container {
    height: .773333rem /* 29/37.5 */;
    line-height: .773333rem /* 29/37.5 */;
    font-size: .32rem /* 12/37.5 */;
    color: #FF7B00;
    border: 1px dashed #FF7B00;
    padding: 0 .266667rem /* 10/37.5 */;
    display: inline-block;
  }

  .tag-default {
    font-size: .32rem /* 12/37.5 */;
    color: #aaa;
    border: 1px dashed #D8D8D8;
  }

  .upload-flex {
    display: flex;
  }

  .upload-box-container {
    width: 4.4rem /* 165/37.5 */;
    height: 3.2rem /* 120/37.5 */;
    background-color: #f7f7f7;

    .upload-box-img {
      width: 100%;
      height: 100%;
    }
  }

  .s-button-container {
    height: 1.333333rem /* 50/37.5 */;
    line-height: 1.333333rem /* 50/37.5 */;
    text-align: center;
    font-family: PingFangSC-Medium;
    font-size: .48rem /* 18/37.5 */;
    color: #FF3E62;
    border-top: 1px solid #eee;
    background-color: #fff;
  }

  .m-10 {
    margin: .266667rem /* 10/37.5 */ 0;
  }

  .ml-10 {
    margin-left: .266667rem /* 10/37.5 */;
  }

  .mr-10 {
    margin-right: .266667rem /* 10/37.5 */;
  }
}