.condition-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.333333rem /* 50/37.5 */;
  border-bottom: 1px solid #f4f4f4;

  .condition-bar-item {
    flex: 1;
    font-size: .4rem /* 15/37.5 */;
    text-align: center;
    position: relative;

    &.active {

      &::after {
        content: ' ';
        position: absolute;
        bottom: -.4rem /* 15/37.5 */;
        left: 50%;
        margin-left: -.133333rem /* 5/37.5 */;
        width: .266667rem /* 10/37.5 */;
        height: 2px;
        border-radius: 2px;
        background-color: #222;
      }
    }
  }

  .condition-bar-line {
    width: 1px;
    height: .266667rem /* 10/37.5 */;
    background-color: #888;
  }

  .condition-bar-icon {
    padding: 0 .4rem /* 15/37.5 */
  }
}