.share-page {
    width: 100%;
    padding-top: 1.173333rem /* 44/37.5 */;
    padding-bottom: .88rem /* 33/37.5 */;
    background: white;
    .share-page-content {
        .share-page-button-share-button {
            width: 4.533333rem /* 170/37.5 */;
            height: 1.173333rem /* 44/37.5 */;
            border-radius: .586667rem /* 22/37.5 */;
            font-size: .48rem /* 18/37.5 */;
            font-family:PingFang SC;
            font-weight:500;
            color:rgba(255,255,255,1);
            letter-spacing: 1px;
            margin: 0 auto;
        }
        h4 {
            font-size: .64rem /* 24/37.5 */;
            font-family:PingFang SC;
            font-weight:500;
            color:rgba(34,34,34,1);
            margin-top: .666667rem /* 25/37.5 */;
            text-align: center;
            margin-bottom: .506667rem /* 19/37.5 */;
        }
        .share-page-content-img {
            display: block;
            width: 6.626667rem /* 248.5/37.5 */;
            margin: 0 auto;
            margin-bottom: .666667rem /* 25/37.5 */;
        }
    }
}